@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import "tailwindcss";

@theme inline {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;

  --color-background-accent: #18191a;

  --font-fredoka: "Fredoka", sans-serif;
}

body {
  background: #0a0a0a;
  color: #ededed;
}

.bg-checkered-dark {
  background: repeating-conic-gradient(
    at 1px 1px,
    #131313 0 25%,
    #0a0a0a 0 50%
  );
  background-size: 32px 32px;
}

.contact-section {
  background-color: #0078BD;

  background-image: 
    radial-gradient(circle at center, transparent 100%, #000 100%),
    linear-gradient(#0686d0 1px, transparent 1px),
    linear-gradient(90deg, #0686d0 1px, transparent 1px);

  background-size:
    100% 100%,
    60px 60px,
    60px 60px,
    20px 20px,
    20px 20px;

  animation: cyber-move 10s linear infinite;
}

@keyframes cyber-move {
  0% {
    background-position:
      0 0,
      0 0,
      0 0,
      0 0,
      0 0;
  }
  100% {
    background-position:
      0 0,
      60px 60px,
      60px 60px,
      40px 40px,
      40px 40px;
  }
}
